.cards{
  padding-top: 10px;
  display: flex;
  align-items: flex-start;
  align-content: center;
  justify-content: space-around; /*Now spreads them out because there is space. If you remove this you will see them all go back to the left*/
  width: 100%;
  
}
.cards > div {
  height: 50%;
}
.card{
	background: linear-gradient(0deg, rgba(50,224,196,1) 0%, rgba(255,255,255,1) 56%);
  	width: 30%;
}

.card1 > img {
	transform:rotateY(0deg);
	transition: 2s ease-out;
}

.card1:hover > img {
	transform:rotateY(360deg);
	transition: 2s ease-out;
}

.card2 > div > img {
	transform: rotate(0deg);
	transition: 1s;
}

.card2:hover > div > img {
	transform: rotate(180deg);
	transition: 1s;
	/*position: relative;*/
}

.card3 .c3img11 {
	transform: translate(0%,0%);
	transition: 1s;
	/*position: relative;*/
}

.card3:hover .c3img11 {
	transform: translate(100%,100%);
	transition: 1s;
	/*position: relative;*/
}

.card3 .c3img12 {
	transform: translate(0%,0%);
	transition: 1s;
	/*position: relative;*/
}

.card3:hover .c3img12 {
	transform: translate(-100%,100%);
	transition: 1s;
	/*position: relative;*/
}

.card3 .c3img21 {
	transform: translate(0%,0%);
	transition: 1s;
	/*position: relative;*/
}

.card3:hover .c3img21 {
	transform: translate(100%,-100%);
	transition: 1s;
	/*position: relative;*/
}

.card3 .c3img22 {
	transform: translate(0%,0%);
	transition: 1s;
	/*position: relative;*/
}

.card3:hover .c3img22 {
	transform: translate(-100%,-100%);
	transition: 1s;
	/*position: relative;*/
}

.c2imgs {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.c3imgs {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
}

.c3imgs > div {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}

.c2img1 {
	width: auto;
    max-width: 13%;
	/*align-self: flex-start;*/
	/*padding-left: 22%;*/
}

.c2img2 {
	/*align-self: flex-end;*/
	width: auto;
    max-width: 21%;
	/*padding-right: 22%;*/
}

.c2img3 {
	width: auto;
    max-width: 13%;
    /*align-self: flex-start;*/
	/*padding-left: 22%;*/
}

h2, p {
	word-wrap: break-word;
}

p {
	line-height: 1.5;
}